<nav class="navbar">
  <div class="container navbar-inner">
    <div class="logo">
      <div class="logo-icon">
        <svg viewBox="0 0 24 24" aria-hidden="true">
          <path d="M4 10.5L12 5l8 5.5V20a1 1 0 0 1-1 1h-5v-5H10v5H5a1 1 0 0 1-1-1v-9.5z" fill="#FFFFFF" />
          <path d="M9 10h2v2H9zm4 0h2v2h-2z" fill="#0B57DE" opacity="0.4" />
        </svg>
      </div>
      <div class="logo-text">
        <span class="logo-title">SMAN 1 Sangatta Utara</span>
        <span class="logo-subtitle">Sistem Pelaporan Fasilitas</span>
      </div>
    </div>
    <div class="navbar-right">
      <a class="link-primary" href="/admin/login">Login Admin</a>
    </div>
  </div>
</nav>
